@import "../../styles/valiables.scss";

.btn {
    display: inline-block;
    background-color: $primary-blue-color;
    color: $primary-white-color;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        background-color: $secondary-blue-color;
    }
    &[disabled] {
        opacity: .2;
    }
}