@import "../../styles/variables.scss";

.btn {
    color: $primary-white-color;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $primary-white-color;
    &:hover {
        background-color: $secondary-blue-color;
    }
    &[disabled] {
        opacity: .2;
    }
}